
snippet dhcp "Add dhcp settings for ethernet" !b
auto eth${1:0}
iface eth$1 inet dhcp
endsnippet

snippet static "Add static settings for ethernet" !b
auto eth${1:0}
iface eth$1 inet static
  address ${2:192.168.0.1}
  netmask 255.255.255.0
  gateway ${3:192.168.0.254}
  hwaddress ether 00:e0:4c:d0:99:28
  dns-nameservers 8.8.8.8 77.88.8.1
endsnippet
